@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Books" asp-action="Index">Books</a></li>
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-controller="Renginys" asp-action="Index">Renginiai</a></li>
            <li><a asp-controller="Aiksteles" asp-action="Index">Aikštelės</a></li>
            @if (User.Identity.IsAuthenticated)
            {
            <li>
                <form asp-controller="Account" asp-action="Logoff" method="post" class="form-horizontal" role="form">
                    <input type="submit" value="Logoff" class="btn btn-default" />
                </form>
            </li>
            }
        </ul>
    </div>
    <div>@RenderBody()</div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>*@

@using System.Security.Claims
@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using WebApplication3.Models.Identity;
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Gatvės Sporto Organizatorius</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a asp-controller="Renginys" asp-action="Index">Renginiai</a></li>
                    <li><a asp-controller="Aiksteles" asp-action="Index">Aikštelės</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Paskelbti<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Renginys" asp-action="Create">Varžybas</a></li>
                        </ul>
                    </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <p class="navbar-text">@(User.Identity.Name)</p>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Paskyra<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="#" id="logout_btn">Atsijungti</a></li>
                                <form asp-controller="Account" asp-action="Logoff" id="logout_form" method="post" class="form-horizontal" role="form"></form>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="Login">Prisijungti</a></li>
                                <li><a asp-controller="Account" asp-action="Register">Registruotis</a></li>
                                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                                <li>
                                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                        @foreach (var provider in loginProviders.Take(1))
                                        {
                                            <button type="submit" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                        }
                                    </form>
                                </li>

                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <div class="footer text-center">
        <p>IFF-3/2 studentai. Gatvės Sporto Organizatorius. 2016.</p>
    </div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>