@model WebApplication3.Models.TurnyroModeliai.Komanda
@using WebApplication3.Models.Identity;
@using System.Security.Principal
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Komanda "@Model.Pavadinimas"</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Pagrindinė komandos informacija</li>
                        <li class="list-group-item">
                            Pavadinimas:<span class="pull-right text-success">
                                <strong>
                                    "@Model.Pavadinimas"
                                </strong>
                            </span>
                        </li>
                        <li class="list-group-item">Pozicija:<span class="pull-right"><strong>1</strong></span></li>
                        <a href="#" class="list-group-item">
                            Kapitonas:<span class="pull-right">
                                <strong>
                                 @Model.Kapitonas.FullName
                                </strong>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">Žaidėjų skaičius:<span class="pull-right"><strong>@Model.Nariai.Count</strong></span></a>
                        <li class="list-group-item">
                            Komandos sukūrimo data:<span class="pull-right"><strong>2016-03-19</strong></span>
                        </li>
                        <li class="list-group-item">
                            Žaista turnyrų:<span class="pull-right"><strong>30</strong></span>
                        </li>
                        <li class="list-group-item">
                            Laimeta turnyrų:<span class="pull-right"><strong>25</strong></span>
                        </li>
                    </ul>
                </div>
                    <div class="col-xs-12 col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Komandos kapitonas</li>
                            <li class="list-group-item team-member">
                               @Model.Kapitonas.FullName <span style="float:right">@Model.Kapitonas.Email</span>
                            </li>
                       </ul>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @if (Model.Nariai.Count > 0)
                        {
                            <ul class="list-group">
                                @foreach (ApplicationUser user in Model.Nariai)
                                {
                                    <li class="list-group-item list-group-item-info">Komandos žaidėjai</li>
                                    <li class="list-group-item team-member">
                                        @user.FullName
                                        @if (User.IsInRole("kapitonas"))
                                        {
                                            <a asp-action="RemoveUser" asp-route-userId="@user.Id" class="btn btn-info" style="float: right; margin-left: 10px;" role="button">Šalinti</a>
                                        }
                                            <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@user.Id" class="btn btn-info" style="float: right; margin-left: 10px;" role="button">Informacija</a>
                                        @if (User.Identity.Name == user.Email)
                                        {
                                            <a asp-controller="Account" asp-action="LeaveTeam" asp-route-id="@user.Id" class="btn btn-danger" style="float: right; margin-left: 10px;" role="button">Išeiti</a>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        @if (User.IsInRole("kapitonas"))
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Pridėti žaidėja</h3>
                                </div>
                                <div class="panel-body">
                                    <form asp-action="SearchForPlayers">
                                        <input type="hidden" asp-for="KomandaID" />
                                        <div class="form-group">
                                            <input asp-for="SearchForPlayers" class="form-control" placeholder="Įvesti žaidėjo vardą">
                                            <span class="input-group-btn">
                                                <input type="submit" class="btn btn-info" value="Ieškoti" />
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                        @if (User.IsInRole("kapitonas"))
                        {
                            <a asp-action="DeleteTeam" asp-route-id="@Model.KomandaID" class="btn btn-danger" style="margin-bottom: 20px;" role="button">Naikinti komandą</a>

                        }
                    </div>
                </div>
        </div>
    </div>
</div>