@model WebApplication3.ViewModel.TurnyroViewModeliai.DetailsViewModel
@using WebApplication3.Models.AikstelesModeliai
@using WebApplication3.Models.TurnyroModeliai

@{
    ViewData["Title"] = "Gatvės Sporto Organizatorius - Turnyras";
}

<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Pradžia</a></li>
    <li><a asp-controller="Turnyras" asp-action="Index">Turnyrai</a></li>
    <li class="active">"@Model.Turnyras.Pavadinimas"</li>
</ol>

<div id="tournament" data-status="@Model.Turnyras.TurnyroBusena" data-challonge="@Model.Turnyras.ChallongeAddress" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Turnyras "@Model.Turnyras.Pavadinimas"</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Pagrindinė turnyro informacija</li>
                    <li class="list-group-item">Statusas:<span class="pull-right text-success"><strong>@Model.Turnyras.TurnyroBusena</strong></span></li>
                    <a href="#" class="list-group-item">Paskelbė:<span class="pull-right"><strong>@Model.Turnyras.TurnyroAutorius.UserName</strong></span></a>
                    <li class="list-group-item">Turnyro paskelbimo laikas:<span class="pull-right"><strong>@Model.Turnyras.SukurimoData</strong></span></li>
                    <li class="list-group-item">Sporto šaka:<span class="pull-right"><strong>@Model.Turnyras.TurnyroSportoSaka</strong></span></li>
                    <li class="list-group-item">Turnyro formatas:<span class="pull-right"><strong>@Model.Turnyras.MinZaidejuKiekisKomandoje<small class="text-muted">v</small>@Model.Turnyras.MinZaidejuKiekisKomandoje</strong></span></li>
                    <li class="list-group-item">Komandų skaičius:<span class="pull-right"><strong>@Model.Turnyras.Dalyviai.Count iš @Model.Turnyras.KomanduKiekis</strong></span></li>
                </ul>

                @if (Model.VisosTurnyroVarzybos.Count > 0)
                {
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Turnyro varžybos</li>
                        @foreach (var item in Model.VisosTurnyroVarzybos)
                        {
                            <a asp-controller="TurnyroVarzybos" asp-action="Details" asp-route-id="@item.TurnyroVarzybosID" asp-route-tourney="@Model.Turnyras.TurnyrasID" class="list-group-item">"@(@Model.VisosTurnyroKomandos.Where(k => k.KomandaID == item.KomandaA_ID_DB).SingleOrDefault().Pavadinimas)" vs "@(@Model.VisosTurnyroKomandos.Where(k => k.KomandaID == item.KomandaB_ID_DB).SingleOrDefault().Pavadinimas)"</a>
                        }
                    </ul>
                }

            </div>
            <div class="col-xs-12 col-md-6">
                @if (Model.Turnyras.Dalyviai.Count > 0)
                {
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Prisijungusios komandos</li>
                        @foreach (var item in Model.Turnyras.Dalyviai)
                        {
                            <a asp-controller="Komanda" asp-action="TeamView" asp-route-id="@item.Komanda.KomandaID" asp-route-tourney="@Model.Turnyras.TurnyrasID" class="list-group-item">@(item.Komanda.Pavadinimas)</a>
                        }
                    </ul>
                }
                @if (!Model.Turnyras.Dalyviai.Contains(Model.TurnyroDalyvis) && User.IsInRole("kapitonas"))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Turnyro valdymas kapitonams</h3>
                        </div>

                        <div class="panel-body">
                            <a href="#" id="joinTourney" class="btn btn-primary" role="button">Prisijungti</a>
                        </div>
                    </div>
                }
                else
                {
                <div id="tourney_management" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Turnyro valdymas kapitonams</h3>
                    </div>

                    <div class="panel-body">
                        @if (Model.TurnyroVarzybos != null && Model.TurnyroVarzybos.PakvietimoBusena != PakvietimoBusena.Patvirtintas && Model.TurnyroVarzybos.KomandaB_ID == Model.TurnyroDalyvis.ChallongeId)
                        {
                            <div class="alert alert-danger">
                                <strong>Dėmesio!</strong> Gavote pasiūlymą sužaisti
                            </div>
                            <div class="well wannaPlay">
                                <p><strong>Laikas:</strong> @Model.TurnyroVarzybos.PrasidejimoData</p>
                                <p><strong>Vieta:</strong> @Model.Aikstele.Adresas, @Model.Aikstele.Miestas</p>
                            </div>
                            <form class="inline" action="/TurnyroVarzybos/Reject?varzybuID=@Model.TurnyroVarzybos.TurnyroVarzybosID&turnyroID=@Model.Turnyras.TurnyrasID" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-default">Atmesti</button>
                            </form>
                            <form class="inline" action="/TurnyroVarzybos/Confirm?varzybuID=@Model.TurnyroVarzybos.TurnyroVarzybosID&turnyroID=@Model.Turnyras.TurnyrasID" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-primary">Priimti</button>
                            </form>
                                }

                                @if (Model.TurnyroVarzybos != null && Model.TurnyroVarzybos.KomandaB_ID != Model.TurnyroDalyvis.ChallongeId && Model.TurnyroVarzybos.PakvietimoBusena != PakvietimoBusena.Patvirtintas)
                                {
                                    <div class="alert alert-danger no-bottom-margin">
                                        Laukiama atsako iš priešininkų komandos
                                    </div>
                                }

                                @if (Model.TurnyroVarzybos != null && Model.TurnyroVarzybos.PakvietimoBusena == PakvietimoBusena.Patvirtintas)
                                {
                                    @if (Model.RezultatoPasiulymas == null) {
                                    <form id="create_tourney_form" action="/Turnyras/Create" method="post" novalidate="novalidate">
                                        <div class="form-horizontal">
                                            <p>Įveskite rezultato pasiūlymą (jį dar turės patvirtinti renginio kūrėjas):</p>
                                            <div class="text-danger"></div>
                                            <div class="form-group">
                                                <label id="Komanda_1_label" class="col-md-5 control-label" for="Pavadinimas">Komanda 1</label>
                                                <div class="col-md-3">
                                                    <input class="form-control" type="text" id="Komanda_1" name="Komanda_1" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label id="Komanda_2_label" class="col-md-5 control-label" for="Pavadinimas">Komanda 2</label>
                                                <div class="col-md-3">
                                                    <input class="form-control" type="text" id="Komanda_2" name="Komanda_2" value="">
                                                </div>
                                            </div>
                                            <div class="form-group no-bottom-margin">
                                                <div class="col-md-offset-6 col-md-9">
                                                    <input type="button" id="addScore" value="Įvesti" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    }
                                    else {
                                        <p class="no-bottom-margin">Rezultato pasiūlymas pateiktas, laukite renginio kūrėjo patvirtinimo.</p>
                                    }
                                }

                                @if (Model.TurnyroVarzybos == null)
                                {
                                    <div class="alert alert-danger">
                                        <strong>Dėmesio!</strong> Jūsų komandai reikia sužaisti varžybas su komanda "<span id="opponent_name"></span>"
                                    </div>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Teikti pasiūlymą dėl vietos ir laiko</button>
                                }
</div>

                </div>
                }



            @if (Model.Turnyras.TurnyroAutorius.Email == User.Identity.Name && Model.VisosTurnyroVarzybos.Where(v => v.RezultatoBusena == RezultatoBusena.Nepatvirtintas).ToList().Count > 0) {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Turnyro valdymas turnyro kūrėjui</h3>
                    </div>

                    <div class="panel-body">
                        <a asp-controller="RezultatoPasiulymas" asp-action="Index" asp-route-turnyroID="@Model.Turnyras.TurnyrasID" class="btn btn-primary" role="button">Tvirtinti rezultatus</a>
                    </div>
                </div>
            }


            </div>
        </div>
    @if (Model.Turnyras.TurnyroBusena != WebApplication3.Models.TurnyroModeliai.TurnyroBusena.Naujas)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Turnyro eiga
                    </div>
                    <div class="panel-body">
                        <div id="challonge_brackets"></div>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="/TurnyroVarzybos/Create?turnyroID=@Model.Turnyras.TurnyrasID" method="post">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pasiūlymo sužaisti teikimas</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Pasiūlymo detalės
                                </div>
                                <div class="panel-body">
                                    <fieldset class="form-group">
                                        <label for="playground">Aikštelė</label>
                                        @if (@Model.Aiksteles != null)
                                        {
                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                            foreach (Aikstele aikstele in Model.Aiksteles)
                                            {
                                                listItems.Add(new SelectListItem
                                                {
                                                    Text = aikstele.Adresas + ", " + aikstele.Miestas,
                                                    Value = aikstele.AiksteleID
                                                });
                                            }
                                            @Html.DropDownListFor(model => model.Aiksteles, listItems, new { @class = "form-control" })
                                        }
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="time">Laikas</label>
                                        <div class="input-group date" id="datetimepicker1">
                                            <input id="PrasidejimoData" name="PrasidejimoData" type="text" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </fieldset>
                                    <input type="hidden" name="TurnyrasID" value="@Model.Turnyras.TurnyrasID">
                                    <input type="hidden" name="AiksteleID" id="AiksteleID">
                                    @if (@Model.TurnyroDalyvis != null)
                                    {
                                        <input type="hidden" name="KomandaA_ID" value="@Model.TurnyroDalyvis.ChallongeId">
                                        <input type="hidden" name="KomandaA_ID_DB" value="@Model.TurnyroDalyvis.KomandaID">
                                    }
                                    <input type="hidden" id="KomandaB_ID" name="KomandaB_ID" value="">
                                    <input type="hidden" id="KomandaB_ID_DB" name="KomandaB_ID_DB" value="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                    <button type="submit" class="btn btn-primary">Teikti pasiūlymą</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@if (@Model.TurnyroDalyvis != null)
{
    <script>
        var turnyroDalyvisID = @Model.TurnyroDalyvis.ChallongeId;
    </script>
}

@if (@Model.Turnyras != null)
{
    <script>
        var turnyrasID = '@Model.Turnyras.ChallongeAddress';
        var turnyrasTikrasID = @Model.Turnyras.TurnyrasID;
        var turnyroDydis = @Model.Turnyras.KomanduKiekis;
        var turnyroDalyviuKiekis = @Model.Turnyras.Dalyviai.Count;
    </script>
}

@if (@Model.TurnyroVarzybos != null)
{
    <script>
        var turnyroVarzybuID = @Model.TurnyroVarzybos.TurnyroVarzybosID;
    </script>
}

@if (@Model.Komanda != null)
{
    <script>
        var komanda = {};
        komanda['name'] = '@Model.Komanda.Pavadinimas';
        komanda['id'] = '@Model.Komanda.KomandaID';
    </script>
}

    <script src="~/js/Turnyras/Details/script.js"></script>
}