@model IEnumerable<WebApplication3.Models.TurnyroModeliai.Turnyras>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Pradžia</a></li>
    <li class="active">Turnyrai</li>
</ol>

<ul class="nav nav-tabs">
    <li class="active"><a asp-action="Index">Visi</a></li>
    <li><a asp-action="Index" asp-route-type="0">Nauji</a></li>
    <li><a asp-action="Index" asp-route-type="1">Vykstantys</a></li>
    <li><a asp-action="Index" asp-route-type="2">Pasibaigę</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Paskelbti <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-action="Create" data-toggle="tab">Naują turnyrą</a></li>
        </ul>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KomanduKiekis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurnyroBusena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurnyroAutorius)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KomanduKiekis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurnyroBusena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurnyroAutorius.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurnyrasID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TurnyrasID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurnyrasID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
