@model IEnumerable<WebApplication3.Models.AikstelesModeliai.Aikstele>

@{
    ViewData["Title"] = "Create";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adresas)
        </th>
        @if (User.Identity.IsAuthenticated && User.IsInRole("administratorius"))
        {
            <th>
                @Html.DisplayNameFor(model => model.ArPatvirtinta)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Miestas)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adresas)
        </td>
        @if (User.Identity.IsAuthenticated && User.IsInRole("administratorius"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.ArPatvirtinta)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Miestas)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("administratorius"))
            {

                <a asp-action="Edit" asp-route-id="@item.AiksteleID">Redaguoti</a> 
                <a asp-action= "Delete" asp-route-id = "@item.AiksteleID"> Pasalinti </a>
             }
                <a asp-action="Details" asp-route-id="@item.AiksteleID">Informacija</a>
        </td>
</tr>
}
</table>
</body>
</html>
