@model WebApplication3.Models.VartotojoModeliai.UserProfileViewModel
@using WebApplication3.Models.VartotojoModeliai;
<div class="container">
    <div class="panel panel-primary panel-player">
        <div class="panel-heading">
            <h3 class="panel-title">Andrius Rimkus</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-10">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Žaidėjo informacija</li>
                        <li class="list-group-item">
                            Vardas: <span class="pull-right">
                                <strong>
                                    @Model.users.FullName
                                </strong>
                            </span>
                        </li>
                        <li class="list-group-item">
                            El. paštas: <span class="pull-right">
                                <strong>
                                    @Model.users.Email
                                </strong>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Viso laimėta turnyrų: <span class="pull-right"><strong>5</strong></span>
                        </li>
                        <li class="list-group-item">
                            Viso dalyvauta varžybų: <span class="pull-right"><strong>9</strong></span>
                        </li>
                        <li class="list-group-item">
                            Viso organizuota varžybų: <span class="pull-right"><strong>3</strong></span>
                        </li>
                        <li class="list-group-item">
                            Patikimumas:<input id="input-id" value="4" class="rating-loading">
                        </li>
                    </ul>

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#profile" role="tab" data-toggle="tab">Komentarai</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane in active fade" id="profile">
                            <form asp-action="CommentPlayer">
                                <div class="form-group">
                                    <input asp-for="users.Id" type="hidden" value="@Model.users.Id" />
                                    <textarea asp-for="comment.Comment" class="form-control"></textarea>   
                                </div>
                                <input type="submit" class="btn btn-success m-l-10" style="margin-bottom: 20px;" value="Komentuoti">
                            </form>
                            @foreach (Komentaras comment in Model.users.UserComments)
                            {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@comment.user.FullName</strong> <span class="text-muted">@comment.Date</span>
                                </div>
                                <div class="panel-body">
                                    @comment.Comment
                                </div>
                            </div>
                            }
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>