@model WebApplication3.Models.TurnyroModeliai.TurnyroVarzybuKomentaras

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TurnyroVarzybuKomentaras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Komentaras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Komentaras)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.TurnyroVarzybuKomentarasID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
