@model WebApplication3.Models.AikstelesModeliai.Renginys

@{
    ViewData["Title"] = "Pašalinti";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Renginys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Statusas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statusas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SportoSaka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportoSaka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZaidejuKiekis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZaidejuKiekis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RenginioAutoriausID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RenginioAutoriausID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>
