@model WebApplication3.Models.AikstelesModeliai.Renginys
@{
    ViewData["Title"] = "Detalės";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Gatvės lyga</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gatvės lyga</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Paskyra<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Prisijungti</a></li>
                            <li><a href="#">Registruotis</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <!--<div class="alert alert-danger">-->
        <!--<strong>Dėmesio!</strong> Prisijungti prie varžybų gali tik registruoti vartotojai.-->
        <!--</div>-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Varžybos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Pagrindinė renginio informacija</li>
                            <li class="list-group-item">Statusas:<span class="pull-right text-success">@Html.DisplayNameFor(model => model.ArPrasidejo)</span></li>
                            <li href="../zaidejas/zaidejas.html" class="active-row list-group-item">Paskelbė:<span class="pull-right"><strong>@User.Identity.Name</strong></span></li>
                            <li class="list-group-item">Reginio pradžios laikas:<span class="pull-right"><strong>@Html.DisplayFor(model => model.Data)</strong></span></li>
                            <li href="../aikstele/aikstele.html" class="active-row list-group-item">Reginio aikštelė:<span class="pull-right"><strong>Kalantos gatvės aikštelė, Kaunas</strong><span class="glyphicon glyphicon-zoom-in playground-icon" aria-hidden="true"></span></span></li>
                            <li class="list-group-item">Sporto šaka:<span class="pull-right"><strong>@Html.DisplayFor(model => model.SportoSaka)</strong></span></li>
                            <li class="list-group-item">Tipas:<span class="pull-right"><strong>Varžybos</strong></span></li>
                            <li class="list-group-item">Žaidėjų skaičius:<span class="pull-right"><strong>@Html.DisplayFor(model => model.ZaidejuKiekis)</strong></span></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Prisijungę žaidėjai</li>
                            <li href="../zaidejas/zaidejas.html" class="active-row list-group-item">Andrius Rimkus</li>
                            <li href="#" class="list-group-item">Giedrius Verbyla</li>
                            <li href="#" class="list-group-item">Deividas Leonavičius</li>
                        </ul>
                        <form asp-action="Prisijungti">
                            <div class="form-actions no-color">
                                <input type="submit" value="Prisijungti" class="btn btn-default" /> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

       
    <div class="footer text-center">
        <p>IFF-3/2 studentai. Gatvės lyga. 2015</p>
    </div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.RenginysID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
</body>
</html>
